<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Dragon Mad Libs</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <p>The @Model.Color Dragon is the @Model.Superlative Dragon of all.</p>
    <p>It has @Model.Adjective1 @Model.BodyPart1, and a @Model.BodyPart2 shaped like a @Model.Noun.</p> 
    <p>It loves to eat @Model.Animal, although it will feast on nearly anything.</p>
    <p>It is @Model.Adjective2 and @Model.Adjective3.</p> 
    <p>You must be @Model.Adjective4 around it, or you may end up as it`s meal!</p>
  </body>
</html>